/*global variables*/
.thead-global{
	background-color:#5ba2e6; 
    color: #fff;
}

.column_search {
    vertical-align: top !important;
}

.transaction-table{
    overflow-y: auto; 
    max-height: 500px;
}

.transaction-table table thead tr th{
    position: sticky; 
    top: 0; 
    background:#5ba2e6; 
    z-index: 11 !important;
}

.sticky{
    position:relative !important;
    background-color: #fff;
    z-index: 10 !important; 
}