
.card-header-global{
	background-color: #4980b5;
    color: #fff;
}
.filters{
    color: #fff;
}

.loading-animation{
    font-weight: bolder;
    font-size: 15px;
    animation-name: loading-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/*loading animations*/
@keyframes loading-animation {
  from {color: #4980b5;}
  to {color: #5ba2e6;}
}

/*modal*/
.modal-xl{
	width: 100% !important;
    max-width: 100% !important;
}

.modal
{
  overflow-y: scroll !important;
}

/* disabled the textarea resize*/

.nav-pills{
    border: 1px solid #fff!important;
}

.nav-pills .nav-link{
    border-radius: 0 !important;
}
.nav-link.active{
    background-color: #5ba2e6 !important;
    color: #fff !important;
}
.nav-link{
    color: #fff !important;
}
.nav-item{
    border-right: 1px solid #fff !important;
    background-color: #4980b5 !important;
}
.notification-balloon{
        border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        color:red;
        font-size: 13px;
}
.generate-entries{
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.margin-entries{
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 15px !important;
    margin-top: -20px !important;
}
.generate-entries-message{
    color: red;
    font-style: italic;
}